body {
    font-family: "Lato", "Arial", sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 80px;
}

main {
    padding: 80px;
}

p { 
    font-size:1.5rem;
}

h1 {
    font-size:4rem;
    margin:0px;
}

h2 {
    font-size: 2.5rem;
}

.header{
    background-color: #6f2d97;
    color: white;
    padding: 20px;
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media (max-width: 900px) {

    h1 {
        font-size: 3rem;
    }

    body {
        width: 100;
        padding: 0px;
    }

    main {
        padding: 15px;
    }

    p {
        font-size: 1rem;
    }

}